.container{
  padding-left: 32px;
  padding-right: 32px;
}

.hero{
  display: flex;
  justify-content: space-between;
}

body{
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 32px ;
  font-weight:bold ;
}
h2 {
  font-size: 28px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}

h4{
  font-size: 20px;
  font-weight: 500;
}

h5{
  font-size: 16px;
  font-weight: 500;
}

h6{
    margin: 0;
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.color-primary{
color: #E8FCCF;
}

.color-secondary{
  color: #134611;
}

.color-tertiary{
  color: #EC7D10;
}

.background-primary{
  background-color: #E8FCCF;
}

.background-secondary{
  background-color: #134611;
}

.button{
  background-color: #EC7D10;
  color: white;
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.button:hover{
  background-color:#864300;
}

.category{
  text-align: center;
}

.card{
  border-radius: 10px;
  display: inline-flex;
  width: 240px;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.category-card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.footer-text{
  color: white;
  display: flex;
  padding: 0 0 24px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.location{
  display: inline-flex;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input{
  padding-left: 4px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 8px;
  border-radius: 6px;
    border: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: black;
}

textarea{
    padding-left: 4px;
      padding-right: 8px;
      padding-top: 4px;
      padding-bottom: 8px;
      border-radius: 6px;
      border: none;
      font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: black;
}

footer{
  margin: 24px 0 0 0;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.footer-form {
  padding: 24px 0px 24px 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-send{
  display: flex;
  justify-content: end;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 32px 2px 32px;
}
.nav-items {
  display: flex;
  gap: 12px;
}