.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.Navbarlink {
  display: flex;
  align-items: center;
  gap: 32px;
}

.Judul {
  color: #ec7d10;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Keterangan {
  color: #134611;
  /* width: 553px; */
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.background {
  width: 100%;
  background: #e8fccf;
}
.Jarak {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}
.Jarakjk {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.Judul2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.Kategori {
  color: #ec7d10;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Temukan {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Card1 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.Card2 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.Card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.Wortel {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CardWortel {
  display: flex;
  padding: 24px 12px 24px 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: #e8fccf;
}

.Anggur {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CardAnggur {
  display: flex;
  padding: 24px 12px 24px 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: #e8fccf;
}

.Brokoli {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CardBrokoli {
  display: flex;
  padding: 24px 12px 24px 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: #e8fccf;
}

.Pisang {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CardPisang {
  display: flex;
  padding: 24px 12px 24px 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: #e8fccf;
}

.SawiPutih {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CardSawiPutih {
  display: flex;
  padding: 24px 12px 24px 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: #e8fccf;
}

.Jeruk {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CardJeruk {
  display: flex;
  padding: 24px 12px 24px 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: #e8fccf;
}

.Hubungi {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Penjelasan {
  align-self: stretch;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}

.BackgroundHubungi {
  display: flex;
  height: 454px;
  padding: 67px 174px 67px 99px;
  align-items: center;
  background: #134611;
}

.HubPel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

ul {
  list-style-type: none;
}

.btn {
  display: flex;
  padding: 14.219px 31.598px;
  justify-content: center;
  align-items: center;
  gap: 7.9px;
  border-radius: 7.9px;
  background: #ec7d10;
  color: #fff;
  font-family: Poppins;
  font-size: 25.279px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
